.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .bgColor{
        background-color: cornflowerblue;
    }
}
.btn_LogOut{
    padding: 50px;
    display: flex;
    flex-direction: row-reverse;
}